/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 100%;
    border: 1px solid black;
}

/*General Styles*/
html {
    font-size: 62.5%;/*Due to this font-size %, every 1rem = 10 pixels.*/
}
body {
    font-size: 1.6rem;
    color: #4F4F4F;
    line-height: 1.5;
}

h1 {
    font-size: 5rem; 
}

h2 {
    font-size: 3.5rem;
}

section {
    padding: 2% 0;/*Adds top and bottom padding of 4% between sections.*/
}

a {
    text-decoration: none; /*Removes underline from links*/
    color: #4F4F4F; 
}

nav a {
    display: inline-block;
    padding: 1% 0;
    width: 10%;
    border-radius: 10px;
    text-align: center;
    color: #fff;

}
.orange {
    background-color: #FF764E;
    margin-left: 10%;
}

.blue {
    background-color: #5ED3EB;
    margin: 0 24%;
}

.yellow {
    background-color: #FFCD69;
    margin-right: 10%;
}

.top {
    position:relative;
}

.left img {
    border-radius: 50%;
    width: 70%;
}

.left, .right {
    display: inline-block;
}

.left {
    width: 40%;
}

.right {
    width: 40%;
    margin-left: 3%;
    position: absolute;
    top: 40%;
    text-align: center;
}

.main {
    background-color: #DDB9A3;
}

#main2 {
    display: inline-block;

}

.main1 .main2 {
    display: inline-block;
}

.banner {
    background-image: url('assets/footer_img.jpg');
    background-repeat: no-repeat;
    height: 40vh;
}

footer {
    background-color:#F9E7DC;
}